<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ストップウォッチ</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
  <a href="/timer">タイマーへ</a>
<h1>ストップウォッチ</h1>
    <div class ="stopwatch_container">
      <div class="switch">● ○</div>
            <div class="analog-container">
  <canvas id="analog" width="200" height="200"></canvas>
    </div>
    <div class="time">00:00:00</div>
    <p>
    <button class="switch2" onclick="toggleDisplay()">表示切替</button>
    </p>
    <div class="controls">
        <button id="startStop"class="start-btn" onclick="toggleStartStop()">start</button>
        <button id="resetlap" class="reset-btn" onclick="ResetLap()">Reset</button>
    </div>
  <div class="laps-container"></div>
    </div>
    <button id="fullscreenBtn" style="position:absolute;top:10px;right:10px;">全画面</button>
      <script src="/home.js"></script>
</body>
</html>